body{
    background-color: white;
}
.SectionCards{
    background: rgb(37,37,41);
    background: linear-gradient(86deg, rgba(37,37,41,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(37,37,41,1) 100%);
}

.cardContainer{
    margin: 2%;
    border-radius: 15px;

    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 
                0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 
                0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    overflow: hidden;
    background-color: #000000;
    transition: all ease 200ms;
    border: 3px solid white;
}

.cardContainer:hover {
    transform: scale(1.06);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 
                0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 
                0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  }
  
.cardHeader{
    display: flex;
    font-size: 120%;
    font-weight: bold;;
    min-height: 12%;
    color: rgb(132, 173, 26);
    align-items: center;
    text-align: center;
    padding: 1em;
}

.cardBody{
    width: 100%;
    height: 100%;
    background-color:rgb(74, 74, 74);
    overflow: hidden;
    margin: top 15px;
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    align-items: center;
    justify-content: space-around;

}

.cardInfo{
    border-top: 1px solid #DBDBDB;
    padding-top: 15px;
}

.cardPrice{
    color: rgb(16, 145, 130);
    font: normal normal 800 40px/49px Montserrat;
    margin-block-start: 0%;
}
.Megas{
    color: rgb(16, 145, 130);
}

.btnContratar{
    color: rgb(255, 255, 255);
    width: 80%;
    border-radius: 16px;
    padding: 6px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
    text-decoration: none;
    font: normal normal 800 20px/19px Montserrat;
}

.btnContratar:hover{
    color: rgb(0,212,212);
    background: rgb(255, 255, 255);
    border-color: black;
    border-style:solid;
    border-width: 1px;
}


@media only screen and (max-width: 1023px) {
    .SectionCards{
        display: flex;
        flex-direction: column;
        max-width: 1090px;
        justify-content: center;
        margin: auto;
        /* background-color: rgb(29, 20, 20); */
    }

}

@media only screen and (min-width: 700px){
    .w-80a{
        width: 90%;
    }
}

.h1{
    margin-bottom: 0;
}
.w-80a{
    width: 80%;
}