#footer{
    height: 10vh;
    background-color: #1b1919;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pFooter{
 margin-left: 5%;
 color: aliceblue;   
}

.footerpop{
    max-width: 1590px;
    height: 10vh;
    margin: 0 auto 0 auto;
    background: #1b1919;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: sticky;
    bottom: 0;
}
