
.Section{
  max-width: 1590px;
  min-height: 90vh;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContratar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home,
.Cotizador,
.Internet,
.TvInternet {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 3rem;
  color: rgb(235, 229, 229);
  background-image: url("./images/PlaceHolder.jpg");
  background-size: cover;
}